/* ----- ALL FILTERS ----- */

.filter-container {
    margin-bottom: 28px;
}

.checkbox-style {
    font-size: 0.9rem; 
    padding: 0.75rem;
    padding-left: 1.5rem !important;
    /* cursor: pointer; */
}

.trucated-bar {
    background: linear-gradient(0deg, #fff, rgba(255,255,255,0) 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60;
    width: 100%;
}


@media (min-width: 768px) {
    .checkbox-style {
        font-size: 0.75rem !important; 
        padding: 0.25rem !important;
        padding-left: 1.5rem !important;
    }
}