/* ---- LIVROS DETAILS ---- */

.card-info {
    margin-bottom: 1rem;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
.card-info.section-info {
    height: 100%;
}
div.row.related-books {
    margin-bottom: 1rem;
}
