
.side-menu {
    background-color: whitesmoke;
    position: fixed !important;
    width: 70% !important;
    height: initial !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -500px;
    z-index: 1999;
    transition-property: margin;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    box-shadow: 2px 0px 10px black;
}

.side-content {
    overflow-y: auto;
    height: 100%;
    /* margin-bottom: 1rem; */
}

.side-hide {
    margin-left: 0 !important;
}

.side-btn-close {
    /* position: absolute; */
    /* bottom: 0; */
    top: 0;
    width: 100%;
    padding: 0.7rem !important;
}

.side-item {
    display: flex !important;
    flex-direction: row;
}

.side-item:active {
    background-color: silver;
    transition-duration: 0.8s;
}

.side-item-icon {
    padding: 0.25rem;
    width: 15%;
    text-align: center;
}

.side-item-text {
    padding: 0.25rem;
    width: 85%;
}

.btn-menu {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.btn-theme {
    position: fixed;
    right: 0.5rem;
    top: 8%;
    border: 1px solid;
    z-index: 999;
    transition: top 0.2s ease-in-out;
}

/* Tamanho de tela 'sm' */
@media (min-width: 576px) {
    .side-menu {
        width: 50% !important;
    }
}

/* Tamanho de tela 'md' */
@media (min-width: 768px) {
    .side-menu {
        position: relative !important;
        width: initial !important;
        height: initial;
        top: initial;
        margin-left: 0;
        z-index: 999;
        box-shadow: none;
    }
    .btn-menu {
        display: none !important;
        top: 0.5rem;
        left: 0.5rem;
    }
    .btn-theme {
        top: initial;
        bottom: 1rem;
    }
}    

/* Tamanho de tela 'lg' */
@media (min-width: 992px) {
  
}    

