
.side-menu {
    background-color: whitesmoke;
    position: fixed !important;
    width: 70% !important;
    height: 100%;
    top: 0px;
    margin-left: -500px;
    z-index: 1999;
    transition-property: margin;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    box-shadow: 2px 0px 10px;
}

.side-content {
    overflow-y: auto;
    height: 85%;
    margin-bottom: 1rem;
}

.side-hide {
    margin-left: 0 !important;
}

.side-btn-close {
    position: absolute;
    bottom: 0;
    width: 95%;
    padding: 0.7rem !important;
}

.side-item {
    display: flex !important;
    flex-direction: row;
}

.side-item:active {
    background-color: silver;
    transition-duration: 0.8s;
}


.side-item-icon {
    padding: 0.25rem;
    width: 15%;
    text-align: center;
}

.side-item-text {
    padding: 0.25rem;
    width: 85%;
}

/* Tamanho de tela 'sm' */
@media (min-width: 576px) {
    .side-menu {
        width: 50% !important;
    }
}

/* Tamanho de tela 'md' */
@media (min-width: 768px) {
    .side-menu {
        position: relative !important;
        width: initial !important;
        height: initial;
        top: initial;
        margin-left: 0;
        z-index: 999;
        box-shadow: none;
    }
}    

/* Tamanho de tela 'lg' */
@media (min-width: 992px) {
  
}    

