/* ---- BOOK INFO MODAL ----- */

/* Modal Header */
.book-info-modal .modal-header {
    position: sticky;
    opacity: 1;
    top: 0;
    z-index: 99 !important;
}
.book-info-modal .modal-header .close {
    color: gray;
}

/* Header title e actions */
.book-info-modal .modal-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.book-info-modal .modal-title .actions-header {
    display: flex;
    justify-content: center;
}

/* Footer container e actions */
.book-info-modal .modal-footer.actions-footer {
    display: none;
}

button a {
    text-decoration: none !important;
    color: inherit !important
}

@media (min-width: 576px) {
    .book-info-modal .modal-title .actions-header {
        display: none;
    }
    .book-info-modal .modal-footer.actions-footer {
        display: flex;
    }    
}

/* Tamanho de tela MD */
@media (min-width: 768px) {
    .book-info-modal .modal-body {
        display: flex;
        text-align: start;
    }
    .book-info-form img {
        width: 100%;
    }
}
