.App {
  text-align: initial;
  position: relative;
  min-height: 100%;
}

/* ADJUSTES DE OFFSET PARA FOOTER */
#main-page-content.footer-offset {
  padding-bottom: 150px !important;

}
#app-footer.footer-offset {
  height: 150px !important; 
}

/* Em Telas SM */
@media (min-width: 576px) {
  #main-page-content.footer-offset {
    padding-bottom: 100px !important;
  }
  #app-footer.footer-offset {
    height: 100px !important; 
  }
}

/* Em Telas MD */
@media (min-width: 768px) {
  #main-page-content.footer-offset {
    padding-bottom: 80px !important;
  
  }
  #app-footer.footer-offset {
    height: 80px !important; 
  }
}