div {
    transition-delay: 0;
    transition-property: color, background-color;
    transition-duration: 20ms ;
}

.dashboard-container {
    height: inherit;
}

.stars-container {
    border-radius: 4px;
    background-color: grey;
    padding: 0.25rem;
    box-shadow: 1px 1px 4px #0003;
}

.stars-container .star {
    color: gold !important;
}