div {
    transition-delay: 0;
    transition-property: color, background-color;
    transition-duration: 200ms ;
}

.dashboard-container {
    height: inherit;
}

/* Container principal e interno em SectionSubject */
.sectionContainer {
    overflow: hidden;
}
.section-inner {
    height: 100%;
}

/* Header e buttonGroup do header em SectionSubject */
/* .section-header {} */
.subject-layout-icon {
    position: absolute !important;
    right: 1rem;
    top: 1rem;
}

/* Body em SectionSubject */
.section-content {
    justify-content: space-between;
}

/* SectionBook container e lista e grid */
/* .section-book {
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: -0.06s;
} */
.listImg {
    overflow: hidden;
    width: 30px;
}
.gridImg {
    height: 7rem;
    width: auto;
    max-width: 90%;
}

/* Tamanho de tela 'sm' */
@media (min-width: 576px) {
    .gridImg {
        height: 10rem;
    }
}

/* Tamanho de tela 'md' */
@media (min-width: 768px) {
    .gridImg {
        height: 11rem;
    }    
}    

/* Tamanho de tela 'lg' */
@media (min-width: 992px) {
    .gridImg {
        height: 8rem;
    }    
}    


