/* ----- SIDE MENU ----- */

.side-menu {
    background-color: whitesmoke;
    position: fixed !important;
    width: 70% !important;
    height: initial !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    margin-left: -450px;
    z-index: 1999;
    transition: margin 0.3s, position 0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    box-shadow: 2px 0px 10px black;
}

.side-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: block;
    right: 0px;
    height: 100%;
    width: 30%;
    transition: 0.1s ease;
    transition-property: opacity, visibility;
    opacity: 0;
    visibility: collapse;
    content: " ";
}

.side-overlay.show {
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease 0.25s;
    transition-property: opacity, visibility;
}

.side-content {
    overflow-y: auto;
    height: 82%;
    padding-bottom: 50px;
}

.side-hide {
    margin-left: 0 !important;
}

.side-btn-close {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    margin: auto 0px !important;
    padding: 0.7rem !important;
    display: block !important;
    z-index: 9;
}

.side-menu .side-item {
    display: flex !important;
    flex-direction: row;
    color: inherit;
}

.side-menu .side-item.active {
    /* opacity: 0.85; */
    transition-duration: 0.3s;
}

.side-menu .side-item:hover {
    color: inherit !important;
    opacity: 0.5;
    text-decoration: none;
}

.side-menu .side-item :focus {
    background-color: white !important;
}

.side-menu .side-item-icon {
    padding: 0.25rem;
    width: 15%;
    text-align: center;
}

.side-menu .side-item-text {
    padding: 0.25rem;
    width: 85%;
}

/* Tamanho de tela 'sm' */
@media (min-width: 576px) {
    .side-menu, .side-overlay {
        width: 50% !important;
    }
    /* .side-content {
        padding-bottom: 0px !important;
    } */
    .side-overlay.show {
        transition-property: opacity, visibility;
    }
}

/* Tamanho de tela 'md' */
@media (min-width: 768px) {
    .side-menu {
        position: fixed !important;
        top: 3.5rem !important;
        height: initial;
        margin-left: 0;
        z-index: 999;
        box-shadow: none;
    }
    .side-overlay {
        visibility: hidden;
        opacity: 0 !important;
        transition: 0.1s ease !important;
        transition-property: opacity, visibility;
    }
    .side-btn-close {
        display: none !important;
    }
}    

