/* Estilos CSS para Input de busca */

#search-suggest {
    transition: all .2s ease-in-out;
}

.btn-search-regular {
    text-align: center;
    margin: auto 0;
    padding: auto 0;
    transition: 0.5s;
}

.btn-search-hide {
    display: none;
}

.search-form-row {
    margin: auto 0px !important;
}

/* para tamanho 'sm' */
@media (min-width: 576px) {
    .btn-search-regular {
        right: 2.8rem;
    }
}

@media (max-width: 767px) {
    .input-search-show {
        position: fixed;
        top: 0.6rem;
        left: 0.6rem;
        right: 0.6rem;
        width: initial;
    }
    .input-search-hide {
        width: 0;
        display: none;
        /* visibility: hidden; */
    }
}

/* Em tamanho 'md' */
@media (min-width: 768px) {
    .btn-search-regular {
        display: none;
    }
}