/* ---- BOOK FORM BUILDER ----- */

/* Form do livro */
.book-form-builder {
    width: 100%;
}
.book-form-builder .form-group {
    text-align: start;
}

/* Imagem do livro */
.book-form-builder .image-book {
    text-align: center !important;
    padding: 1rem;
    margin: 0 auto;
}
.book-form-builder img {
    width: 60%;
    text-align: center;
}

/* Botão nativo de escolha de imagem oculto */
.book-form-builder #image-upload {
    opacity: 0;
    height: 0;
}
.book-form-builder .form-file-label {
    /* Estilo para btoão full  */
    /* position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    color: lightgray */
    width: 100%;
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}
/* Botão full XY */
.book-form-builder .form-file-label .inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.book-form-builder .form-file-label:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


@media (min-width: 576px) {
  
}

/* Tamanho de tela MD */
@media (min-width: 768px) {
    .book-form-builder img {
        width: 100%;
    }
}
